@scope (.domain-user-database-authentication-registration-form-component) to ([data-scope]) {
  .database-authentication-registration-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  label {
    display: block;
  }
}