<div class="flex justify-center">
  <%= render Ui::PanelComponent.new(size: :medium) do |panel| %>
    <%- panel.with_panel_content do %>
      <h2>メール認証をリンク</h2>

      <%= render Domain::User::DatabaseAuthenticationLinkFormComponent.new(form: @form) %>
    <% end %>
  <% end %>
</div>
