<div <%= tag.attributes(@html_options.merge(class: "flex justify-center")) %> >
  <%= render Ui::PanelComponent.new(size: :medium) do |panel| %>
    <%- panel.with_panel_content do %>
      <h2>登録フォーム</h2>

      <%= render Domain::User::SnsCredentialRegistrationFormComponent.new(
        form: @form,
        create_sns_credential_registration_path: @create_sns_credential_registration_path
      ) %>
    <% end %>
  <% end %>
</div>
