<div <%= tag.attributes(@html_options) %> >
  <%= render Ui::PanelComponent.new(size: :medium) do |panel| %>
    <%- panel.with_panel_content do %>
      <h1>Log in</h1>

      <%= render Domain::User::LoginFormComponent.new(
        resource: @resource,
        resource_name: @resource_name,
        session_path: @session_path
      ) %>
      <% end %>
  <% end %>
</div>
