@scope (.ui-field-errors-component) to ([data-scope]) {
  :scope {
    list-style-type: disc;
    list-style-position: inside;
    margin: 4px 0 0 0;
    color: var(--color-text-alert-inline);
    font-size: var(--font-size-note);
  }

  li {
    margin: 2px 0;
  }
}