@scope (.ui-flash-component) to ([data-scope]) {
  :scope {
    border-radius: var(--border-radius-small);
    padding: 1rem;
  }

  &.info {
    background-color: var(--color-background-info);
    color: var(--color-text-info);
  }

  &.notice {
    background-color: var(--color-background-notice);
    color: var(--color-text-notice);
  }

  &.warn {
    background-color: var(--color-background-warn);
    color: var(--color-text-warn);
  }

  &.alert {
    background-color: var(--color-background-alert);
    color: var(--color-text-alert);
  }
}