@scope (.ui-panel-component) to ([data-scope]) {
  :scope {
    background-color: var(--color-background-surface);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-large);
    padding: 16px;
  }

  &.full {
    width: 100%;
  }

  &.large {
    width: 800px;
  }

  &.medium {
    width: 400px;
  }

  &.small {
    width: 200px;
  }
}