@scope (.text-field-component) to ([data-scope]) {
  :scope {
    box-sizing: border-box;
    border: 1.5px solid var(--color-text-default);
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-text-default);

    &:disabled {
      color: var(--color-text-secondary);
      cursor: not-allowed;
      opacity: 0.6;
    }

    &::placeholder {
      color: var(--color-text-placeholder);
    }

    &.full {
      width: 100%;
    }

    &.large {
      width: 20rem;
    }

    &.medium {
      width: 15rem;
    }

    &.small {
      width: 10rem;
    }

    &.alert {
      border-color: var(--color-text-alert-inline);
    }
  }
}