<div class="flex justify-center">
  <%= render Ui::PanelComponent.new(size: :medium) do |panel| %>
    <%- panel.with_panel_content do %>
      <h2>Registration Form</h2>

      <%= render Domain::User::DatabaseAuthenticationRegistrationFormComponent.new(
        form: @form,
        create_database_authentication_path: @create_database_authentication_path
      ) %>
    <% end %>
  <% end %>
</div>
