<%= button_tag nil, { **@html_options } do %>
  <div class="glass-effect"></div>
  <div class="glass-tint"></div>
  <div class="glass-shine"></div>
  <div class="glass-text">
    <%= @text %>
  </div>
<% end %>