<div class="flex justify-center">
  <%= render Ui::PanelComponent.new(size: :large) do |panel| %>
    <%- panel.with_panel_content do %>
      <h2>新規下書き作成</h2>

      <%= render Domain::PostDraft::FormComponent.new(
        form: @form,
        url: users_post_drafts_path
      ) %>
    <% end %>
  <% end %>
</div>
