<div class="flex justify-center">
  <%= render Ui::PanelComponent.new(size: :medium) do |panel| %>
    <%- panel.with_panel_content do %>
      <h2>確認メールを送信しました</h2>

      <p>
        ご入力いただいたメールアドレスに確認メールを送信しました。<br>
        メール内のリンクをクリックして、登録を完了してください。
      </p>

      <p>
        メールが届かない場合は、迷惑メールフォルダもご確認ください。
      </p>

      <div class="actions">
        <%= link_to "別のメールアドレスで再送信", new_confirmation_confirmation_path %>
      </div>
    <% end %>
  <% end %>
</div>
