/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* ロゴ用のフォント */
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-heading);
}

body {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  background-color: var(--color-background-default);
}

/* ここより下の記載は、reset css的な役割で配置している。reset.cssはkiso.cssをそのまま配置したいのでここに記載 */
button {
  padding: 0px;
}

a {
  color: var(--color-text-link);
  text-decoration: underline;
  text-underline-offset: auto;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}