<div <%= tag.attributes(@html_options) %> >
  <%= render Ui::PanelComponent.new(size: :medium) do |panel| %>
    <%- panel.with_panel_content do %>
      <h2>確認メールの送信</h2>
      <%= render Domain::User::EmailConfirmationFormComponent.new(
        form: @form,
        confirmation_path: @confirmation_path,
        resource_name: @resource_name
      ) %>
    <% end %>
  <% end %>
</div>
